a {
  text-decoration: none;
}

footer a{
  font-style: italic;
  
  background: linear-gradient(180deg,transparent,#f9da18 0);
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background-size .2s;
}

footer a:hover {
  background-size: 100% 100%;
}

.post a{
  font-style: italic;
  background: linear-gradient(180deg,transparent,#f9da18 0);
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background-size .2s;
}


.post a:hover {
  background-size: 100% 100%;  
}

h1#home-title{
  margin-bottom: 5px;
}

p#home-subtitle{
  margin-top: 5px;
}
